<mat-toolbar color="primary">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>Üyeler No</mat-label>
      <input matInput placeholder="Üyeler No" formControlName="uyeNo" name="uyeNo" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Adı Soyadı</mat-label>
      <input matInput placeholder="Adı Soyadı" formControlName="uyeAdsoyad" name="uyeAdsoyad" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Doğum Tarihi</mat-label>
      <input matInput placeholder="Doğum Tarihi" formControlName="uyeDogTarih" name="uyeDogTarih" required
        type="number">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="dialogRef.close(frm.value)"
    [disabled]="frm.invalid">Kaydet</button>&nbsp;
  <button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>
</div>